* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #019626ec;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 32px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav ul {
  color: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav li:hover {
  background-color: #50c36dec;
}

.nav .scaled-logo {
  max-width: 128px;
  max-height: 128px;
}

.site-title {
  font-size: 50px;
}

.footer {
  background-color: #019626ec;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px;
  text-align: center;
}

.events-title {
  text-align: center;
  color: #117b2eec;
  font-size: 64px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.event-form {
  background-color: #019626ec;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.event-form-container {
  display: flex;
}

.sections{
  display:flex;
  justify-content: center;
  gap: 300px;  
}

.contact {
  flex:1;

}

.links {
  flex:1;

}

.credits {
  flex:1;
  line-height: 1.5;
}

.scaled-logo {
  width: 50px;
}

.instagram p{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.instagram img{
  display: inline-block;
  vertical-align: middle;
}

.email_list{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.email_list_link{
  color: white;
}

.email_list_link:visited{
  color: white;
}

.text {
  width: 500px;
  font-size: 30px;
}

.text p {
  display: inline-block;
}

.text img {
  display: inline-block;
}

.info {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 32px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}